html {
	background-color: #fff;
	color: #726256;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

/* logo */
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}

/* wrapper */
	.wrapper {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		text-align: center;
		width: 950px;
		background-color: blue;
		border: 4px solid red;
		border-radius: 15px;
		color: #fff;
	}

/* landing page heading paragraph */
	#newp {
		padding-top: 25px;
	}

	.card {
		background-color: #eae8dc;
		border-radius: 20px;
		color: #726256;
		margin-bottom: 2.5em;
		padding: 2.5em;
		margin-left: 30px;
		margin-right: 30px;
		margin-top: 30px;
	}

	.form {
		position: relative;
		text-align: left;
		z-index: 1;
	}

	.form-field {
		border: 0;
		margin: 0;
		margin-bottom: 1.25em;
		padding: 0;
	}

	.form-input {
		border-radius: 6px;
		border: 2px solid #c1beb8;
		box-sizing: border-box;
		padding: 0.425em;
		width: 100%;
	}

	.form-input:focus {
		border-color: #797772;
		outline: none;
	}

	.form-label {
		display: block;
	}

/* button */
	.btn {
		border: 4px solid;
		border-radius: 4px;
		display: inline-block;
		font-size: 20px;
		line-height: 2.5;
		padding: 0 2em;
		text-decoration: none;
		text-transform: uppercase;
		transition: 0.2s ease-in-out;
	}

	.btn--primary {
		background-color: #4da163;
		border-color: #005c1e;
		color: #e9e4d8;
	}

	.btn--form {
		margin-top: 1.25em;
	}

/* footer */
	.footer a {
		color: #e9e4d8;
	}

	.footer-copyright {
		color: #fff;
		/*
		text-transform: uppercase; */
	}

	.footer-copyright-text {
		display: inline-block;
		position: relative;
		color: #fff;
	}

/* voting page list items */
	.list {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.list--answer {
		font-family: 'Cutive', serif;
		padding-top: 1.25em;
		padding-left: 3.5em;
		text-align: left;
	}

	.list--answer .list-item {
		border-bottom: 2px solid #c1beb8;
		font-size: 20px;
		position: relative;
		margin-bottom: 1.25em;
		margin-left: 1.25em;
		padding-left: 0.625em;
	}

	.list--answer--flush {
		padding-left: 0;
	}

	.list--answer--flush .list-item {
		margin-bottom: 1em;
		margin-left: 0;
		padding-left: 2.75em;
		padding-bottom: 15px;
	}

	.list--space {
		margin-bottom: 1.25em;
	}

	.list-item-checkbox {
		border: 4px solid #726256;
		border-radius: 6px;
		box-sizing: border-box;
		display: block;
		height: 40px;
		left: -2.5em;
		position: absolute;
		top: -0.425em;
		width: 40px;
		background: transparent;
	}

	.list-item-checkbox.is-selected {
		background-color: #726256;
		box-shadow: inset 0 0 0 4px #eae8dc;
	}

/* select option */
	.srt {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	
	#btn-vote {
		margin-right: 550px;
		margin-top: 1.25em;
	}

	#btn-results {
		text-align: right;
		margin-top: -55px;
	}

	.border {
		border-bottom: 2px solid #c1beb8;
		position: relative;
	}

	.btn--primary:active,
	.btn--primary:focus,
	.btn--primary:hover {
		background-color: #418653;
		color: #fff;
	}

	.btn--secondary {
		border-color: #03938f;
		color: #03938f;
	}

	.btn--secondary:active,
	.btn--secondary:focus,
	.btn--secondary:hover {
		background-color: #03938f;
		color: #fff;
	}

/* results page */
	.progress-container {
		position: absolute;
			top: 8px;
			right: 8px;
			bottom: 8px;
		line-height: 45px;
	}

	.actions {
		margin-top: 4px;
		position: relative;
		text-align: left;
		margin-top: 1.25em;
		z-index: 1;
	}