      <main class='card'>
        <h3 class='border'>{{model.prompt}}</h3>
        <!--
        <h3 class='border'>What is a group of Antelope called?</h3>
        -->
        <div class='border'>
          <ul class='list list--answer'>
            {{#each model.options as |option|}}
              <li class='list-item'>
                <button class='list-item-checkbox'>
                  <b class='srt'>Select</b>
                </button>
                <span>{{option.label}}</span>
              </li>
            {{/each}}
            <!--
            <li class='list-item'>
              <button class='list-item-checkbox'>
                <b class='srt'>Select</b>
              </button>
              <span>Troop</span>
            </li>

            <li class='list-item'>
              <button class='list-item-checkbox'>
                <b class='srt'>Select</b>
              </button>
              <span>Herd</span>
            </li>

            <li class='list-item'>
              <button class='list-item-checkbox'>
                <b class='srt'>Select</b>
              </button>
              <span>Colony</span>
            </li>
            -->
          </ul>
          <h4 id='result-txt'>Select an option then click vote button and click the check restults to see the votes</h4>
        </div>

        <div id='btn-vote'>
          <button class='btn btn--primary btn-vote'>Vote!</button>
        </div>

        <div id='btn-results'>
          <!-- mockup Button
          <a href='results.html' class='btn btn--secondary btn--results'>Check Results</a> -->
          {{#link-to 'polls.poll.results' class='btn btn--secondary btn--results'}}Check Results{{/link-to}}
        </div>
      </main>