{{outlet}}

      <main class='card'>
      	<h3 class='border'>{{model.prompt}}</h3>
      	<!--
			<h3 class='border'>What is a group of Antelope called?</h3>
			-->
			<div class='border'>
				<ul class='list list--answer list--answer--flush'>
					{{#each model.options as |option|}}
						<li class='list-item'>
							<span>{{option.label}}</span>
						</li>
					{{/each}}
					<!--
					<li class='list-item'>
						<span>Troop</span>
					</li>
					<li class='list-item'>
						<span>Herd</span>
					</li>
					<li class='list-item'>
						<span>Colony</span>
					</li>
					-->
				</ul>

				<div class='progress-container'>
					{{#each model.options as |option|}}
						<div class='progress'>
							<p class='progress-info'>4 votes (40%)</p>
						</div>
					{{/each}}
					<!--
					<div class='progress'>
						<p class='progress-info'>4 votes (40%)</p>
					</div>
					<div class='progress'>
						<p class='progress-info'>6 votes (60%)</p>
					</div>
					<div class='progress'>
						<p class='progress-info'>0 votes (0%)</p>
					</div>
					-->
				</div>
			</div>

			<div class='actions'>
				<!-- mockup Button
				<a href='voting.html' class='btn btn--primary btn--back'>Back</a> -->
				{{#link-to 'polls.poll' class='btn btn--primary btn--back'}}Back{{/link-to}}
			</div>
      </main>