{{!-- The following component displays Ember's default welcome message. --}}
{{!-- welcome-page --}}
{{!-- Feel free to remove this! --}}

{{#link-to 'index'}}
	<img src='/assets/images/logo-quiz.jpg' alt='Answer Questions Logo' />
{{/link-to}}

<div class='wrapper'>
	{{outlet}}
</div>