      <header class='header'>
        <p id='newp'>Use the form to create a new poll quiz.</p>
      </header>

      <main class='card'>
        <form class='form'>
          <fieldset class='form-field'>
            <label class='form-label' for='question'>Question</label>
            <input class='form-input' id='question' type='text'>
          </fieldset>

          <fieldset class='form-field'>
            <label class='form-label'>Option</label>
            <input class='form-input' id='question' type='text'>
          </fieldset>

          <fieldset class='form-field'>
            <label class='form-label'>Option</label>
            <input class='form-input' type='text'>
          </fieldset>

          <fieldset class='form-field'>
            <label class='form-label'>Option</label>
            <input class='form-input' type='text'>
          </fieldset>

          <fieldset class='form-field'>
            <label class='form-label'>Option</label>
            <input class='form-input' type='text'>
          </fieldset>

          <button class='btn btn--primary btn-form'>Submit!</button>
        </form>
      </main>

      <footer class='footer'>
        <p class='footer-copyright'>
          <span>&copy; caluapps</span>
        </p>
      </footer>