      <header class='header'>
        <h2 class='welcome'>Welcome to the Quiz-App</h2>
      </header>

{{outlet}}

      <footer class='footer'>
			<h4>Click on links below to see some of our Previous Quizzes:</h4>
			<ul>
				{{#each model as |poll|}}
					<li class='list-item'>
	            	{{#link-to 'polls.poll' poll}}{{poll.prompt}}{{/link-to}}
					</li>
				{{/each}}
			</ul>

			<p class='footer-copyright'>
				<span>&copy; caluapps</span>
			</p>
      </footer>